In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
df = pd.read_csv("raw_data/full_data.csv")
df

,date,location,new_cases,new_deaths,total_cases,total_deaths
0,2019-12-31,Afghanistan,0,0,0,0
1,2020-01-01,Afghanistan,0,0,0,0
2,2020-01-02,Afghanistan,0,0,0,0
3,2020-01-03,Afghanistan,0,0,0,0
4,2020-01-04,Afghanistan,0,0,0,0
...,...,...,...,...,...,...
6631,2020-03-24,Zambia,0,0,3,0
6632,2020-03-21,Zimbabwe,1,0,1,0
6633,2020-03-22,Zimbabwe,1,0,2,0
6634,2020-03-23,Zimbabwe,0,0,2,0
6635,2020-03-24,Zimbabwe,0,1,2,1

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6636 entries, 0 to 6635
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          6636 non-null   object
 1   location      6636 non-null   object
 2   new_cases     6636 non-null   int64
 3   new_deaths    6636 non-null   int64
 4   total_cases   6636 non-null   int64
 5   total_deaths  6636 non-null   int64
dtypes: int64(4), object(2)
memory usage: 311.2+ KB

In [30]:
df['date'] =  pd.to_datetime(df['date'], format='%d%b%Y:%H:%M')
df

ValueError: time data '2019-12-31' does not match format '%d%b%Y:%H:%M:%S.%f' (match)